<h2>TinyApp</h2>
<% if (cookie.user_id) { %>
  <p>Hello <%= users[cookie.user_id].email %></p>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <a href='/registration'>Register</a>
  <a href="/login">Login</a>
<% } %>
