<h2>Header Title</h2>

<% if (username) { %>
  <p>Hello <%= username %></p>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <form method="POST" action="/login">
    <input name="username" type="text">
    <input type="submit" value="Login">
  </form>
<% } %>