<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
  <% include ./partials/_header %>
  <h1>Login</h1>
  <% if (error) { %>
    <p><%= error %></p>
  <% } %>
  <form method="POST" action="/login">
    <label for="email">Email:</label>
    <input class="login-textbox" type="email" name="email">
    <label for="password">Password:</label>
    <input class="login-textbox" type="password" name="password">
    <input type="submit" value="Submit">
  </form>

  <p>Don't have an account yet? Register <a href="/registration">here!</a></p>
</body>
</html>
