<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
  <% include ./partials/_header %>

  <div class="container login-container">
    <h1>Register</h1>
    <% if (error) { %>
      <p><%= error %></p>
    <% } %>
    <form class="login-form" action="/register" method="POST">
      <input class="form-control user-info-input" type="email" name="email" placeholder="Enter your email">
      <input class="form-control user-info-input" type="password" name="password" placeholder="Enter a password">
      <input class="btn btn-outline-dark" type="submit" value="Register">
    </form>
  </div>
</body>
</html>