<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <h1>Registration</h1>
  <% if (error) { %>
    <p><%= error %></p>
  <% } %>
  <form action="/register" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Submit">
  </form>
</body>
</html>