<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>

  <h2>ShortURL: <%= shortURL %></h2>

  <form action='/urls/<%= shortURL %>' method="POST">
    <input id="longURL" type="text" name="longURL" placeholder="<%= longURL %>">
    <input type="submit" value="Submit">
  </form>

  <p><%= `${longURL}:${shortURL}` %></p>
  <a href="/urls">Back to URLS</a>
</body>
</html>