<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include ./partials/_header %>

  <p><% urls %></p>
  
  <% for (let i in urls) { %>
    <div>
      <p style="display: inline"><%= `${i} ---> ${urls[i]}` %></a></p><a href="/urls/<%= i %>">Edit</a>
      <form method="POST" action="/urls/<%= i %>/delete" style="display: inline">
        <input type="submit" value="Delete URL">
      </form>
    </div>
  <% } %>
  
  <a href="#">Shorten a URL!</a>
</body>
</html>