<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
  <% include partials/_header %>
  <div class="container">
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL to shorten:</label>
      <div class="input-group mb-3 short-url-input">
        <input class="form-control" id="longURL" type="text" name="longURL" value="http://">
        <div class="input-group-append">
          <input class="btn btn-outline-dark" type="submit" value="Submit">
        </div>
      </div>
    </form>
    <a href="/urls"><button class="btn btn-outline-dark">Back</button></a>
  </div>
</body>
</html>