@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');

/*------ Variables ------*/
:root {
  --lightgray: #BBBBBF;
  --gray: #A3A9AA;
  --medgray: #8D8E8E;
  --darkgray: #475B5A;
  --blue: #52D1DC;
  --title-font: 'Lobster', cursive;
  --primary-font: 'Roboto', sans-serif;
}

/*------ Styles ------*/

* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
}

.navbar-user-info {
  color: white;
}

#header-title {
  font-family: var(--title-font);
  color: var(--blue);
  font-size: 52px;
  margin-bottom: 10px;
}

.header-logout-btn {
  margin-left: 25px;
  padding: 5px 10px;
}

.container {
  padding-top: 20px;
  text-align: center;
}

.login-container {
  margin-top: 50px;
}

.input-div {
  margin: 10px;
}

.p-margin {
  margin: 5px;
}

.short-url-input {
  max-width: 350px;
}

.login-form {
  display: inline-block;
}

.user-info-input {
  margin: 10px;
}

.error {
  background-color: orange;
  padding: 5px;
  max-width: 500px;
  border-radius: 5px;
}